<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<mapper namespace="com.iskech.mybatis.customer.v1.provider.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="com.iskech.mybatis.customer.v1.api.model.City">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="BIGINT" property="name"/>
        <result column="countryCode" jdbcType="VARCHAR" property="countryCode"/>
        <result column="district" jdbcType="VARCHAR" property="district"/>
        <result column="population" jdbcType="BIGINT" property="population"/>
    </resultMap>
    <sql id="BaseTable">
        city
    </sql>

    <select id="listByName" parameterType="string" resultMap="BaseResultMap">
        select * from
        city
        where name like ?
    </select>
</mapper>